@import "@material/button/mdc-button";
@import "./colors.scss";

.button {
    @include mdc-button-shape-radius(24px);
    @include mdc-button-container-fill-color($primary-button-color);
    @include mdc-button-outline-color($primary-button-text-color);

    font-size: 18px;
    height: 42px;
    .mdc-button__label {
        color: $primary-button-text-color;
    }
}

.secondary-button {
    @include mdc-button-container-fill-color($secondary-button-color);
    @include mdc-button-outline-color($secondary-button-text-color);

    .mdc-button__label {
        color: $secondary-button-text-color;
    }
}

@media screen and (min-width: 400px) {
    .button {
        font-size: 20px;
        height: 44px;
    }
}

@media screen and (min-width: 425px) {
    .button {
        @include mdc-button-shape-radius(38px);
        padding: 0 24px;
        font-size: 24px;
        height: 60px;
    }
}