$mdc-theme-primary: #FEDBD0;

$body-background: #91949a;
$body-color: white;

$primary-button-color: #2196F3;
$primary-button-text-color: #ffffff;
$primary-button-ink-color: #1976D2;

$secondary-button-color: #FFEB3B;
$secondary-text-color: #212121;
$secondary-button-ink-color: #FBC02D;
$secondary-background-color: #ffffff;

$footer-background: #ffffff;

$partners-titles-color: #91949a;
$dark-text-color: #212121;