$body-background: #91949a;
$body-color: white;

$primary-button-color: #2196F3;
$primary-button-text-color: #ffffff;

$secondary-button-color: #FFEB3B;
$secondary-button-text-color: #212121;

$footer-background: #ffffff;

$partners-titles-color: #91949a;
$dark-text-color: #212121;