@import "@material/card/mdc-card";
@import "./colors.scss";
@import "./variables.scss";
@import "./topics.scss";

.schedule-section {
    display: grid;
    justify-content: center;
    color: $black-text-color;
    min-height: calc(100vh - 64px);
    grid-template-columns: 1fr;
    justify-items: center;

    .schedule-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 32px;
        padding: 0 16px;
        width: calc(100% - 32px);

        .talks-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 16px;

            .room, .talk {
                box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
                border-radius: 24px 8px;
                padding: 16px;
            }

            .room {
                display: none;

                .room-name {
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    text-align: center;
                    font-weight: 400;
                    margin: 0;
                }
            }

            .talk {
                width: 100%;
                &-name {
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    margin: 0 0 4px 0;
                    font-weight: 400;
                }

                .mobile-description .mobile-description-text {
                    margin: 8px 0 4px;
                    font-weight: bold;
                }

                .description .description-text {
                    margin: 0 0 8px;
                }
    
                .speaker-container {
                    display: flex;
                    flex-direction: row;
    
                    .speaker-photo {
                        height: 48px;
                        border-radius: 50%;
                    }
    
                    .speaker-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 8px;
    
                        .name {
                            font-size: 1.1rem;
                            line-height: 1.1rem;
                            margin: 0 0 4px 0;
                        }
                        
                        .position {
                            margin: 0;
                            font-size: 0.85rem;
                            line-height: 0.85rem;
                        }
                    }
                }
            }

            .full-column {
                text-align: center;

                .talk-name {
                    margin: 0;
                }
            }
        }

        .timer-container {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .schedule-section {
        .schedule-container {
            grid-template-columns: 80px 1fr;
            max-width: 992px;

            .talks-container {
                grid-template-columns: 1fr 1fr;

                .room {
                    display: block;
                }

                .full-column {
                    grid-column: 1 / span 2;
                }

                .mobile-description {
                    display: none;
                }
            }
     
            .timer-container {
                display: grid;
                grid-template-rows: 57px 1fr 1fr 57px 1fr 1fr;
                grid-row-gap: 16px;
        
                .time {
                    margin: 16px 0;
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                }
            }
        }
    }
}