@import "@material/typography/mdc-typography";
@import "./colors.scss";
@import "./variables.scss";
@import "./buttons.scss";

body {
    background: $body-background;
    color: $body-color;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: $mobile-header-padding;
    min-height: calc(100vh - 48px);

    &-title {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-column-gap: 8px;
        width: 100%;

        .header-logo-container .main-logo {
            width: 100%;
        }

        .header-title-headings {
            .place, .date {
                text-align: right;
                line-height: unset;
            }
    
            .date {
                font-size: $mobile-date-font-size;
                margin: 0;
            }
        
            .place {
                font-size: $mobile-place-font-size;
                line-height: unset;
                margin: 4px 0 0 0;
            }
        }
    }

    &-content {
        display: grid;
        flex: 1;
        justify-content: center;
        align-content: flex-end;

        .register-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .register-button {
                margin: 0 0 20px 0;
            }

            .info-text {
                margin: 0;
                font-size: 14px;
                line-height: unset;
                text-align: center;
            }
        }
    }
}

.footer {
    display: grid;
    background: $footer-background;
    justify-content: center;
    align-content: center;
    padding: $mobile-footer-padding;
    color: $dark-text-color;

    .organizer-container {
        display: grid;
        justify-content: center;

        .organizer-title {
            margin: 16px;
            font-size: $mobile-organizer-font-size;
            text-align: center;
        }
    
        .organizer-logo {
            width: 100%;
            max-width: 360px;
        }
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        padding-top: 32px;

        .buttons-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 16px;

            .button {
                max-width: 360px;
            }
        }

        .contact {
            margin: 0;
            text-align: center;

            .link {
                color: $dark-text-color;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .header {
        min-height: calc(100vh - 72px);
        padding: $tablet-header-padding;

        &-title {
            grid-template-columns: 180px 1fr;
        }

        &-content .register-container .info-text {
            font-size: 18px;
        }
    }

    .footer .organizer-title {
        font-size: $tablet-organizer-font-size;
    }
}

@media screen and (min-width: 768px) {
    .header {
        min-height: calc(100vh - 100px);
        padding-bottom: $tablet-header-bottom-padding;

        &-title {
            grid-template-columns: 250px 1fr;
    
            .header-title-headings {
                .date {
                    font-size: $tablet-date-font-size;
                }
            
                .place {
                    font-size: $tablet-place-font-size;
                    margin-top: 8px;
                }
            }
        }
    }

    .footer {
        .organizer-title {
            font-size: $desktop-organizer-font-size;
        }

        .contact-container .buttons-container {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &-title {
            grid-template-columns: 300px 1fr;
    
            .header-title-headings {
                .date {
                    font-size: $desktop-date-font-size;
                }
            
                .place {
                    font-size: $desktop-place-font-size;
                    margin-top: 12px;
                }
            }
        }
    }
}
