@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "./colors.scss";
@import "./variables.scss";

body {
    background: $body-background;
    color: $body-color;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: $mobile-header-padding;
    min-height: calc(100vh - 48px);

    .place, .date {
        text-align: right;
        line-height: unset;
    }
    
    .date {
        font-size: $mobile-date-font-size;
        margin: 0;
    }

    .place {
        font-size: $mobile-place-font-size;
        line-height: unset;
        margin: 10px 0;
    }

    .content {
        display: grid;
        flex: 1;
        justify-content: center;
        align-content: center;
        grid-template-rows: 50% 1fr;

        .image-container {
            height: 100%;
            display: grid;
            justify-items: center;
            align-items: center;

            .main-logo {
                margin: 32px 0;
                width: 100%;
            }
        }

        .register-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .register-button {
                @include mdc-button-shape-radius(24px);
                @include mdc-button-container-fill-color(#FFFF00);
                
                margin: 0 0 20px 0;
                color: black;
                font-size: 18px;
                height: 42px;
            }

            .info-text {
                margin: 0;
                font-size: 14px;
                line-height: unset;
                text-align: center;
            }

            @media screen and (min-width: 400px) {
                .register-button {
                    font-size: 20px;
                    height: 44px;
                }

                .info-text {
                    font-size: 18px;
                }
            }
        }
    }
}

.footer {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: $mobile-footer-padding;

    .organizer-title {
        margin: 16px;
        font-size: $mobile-organizer-font-size;
        text-align: center;
    }

    .organizer-logo {
        width: 100%;
        max-width: 360px;
    }
}

@media screen and (min-width: 425px) {
    .header {
        min-height: calc(100vh - 72px);
        padding: $tablet-header-padding;

        .place, .date {
            margin: 4px;
        }
        
        .content .register-container {
            .register-button {
                @include mdc-button-shape-radius(38px);
                padding: 0 24px;
                font-size: 24px;
                height: 60px;
            }

            .info-text {
                font-size: 1.75rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        .place, .date {
            margin: 4px;
        }

        .content {
            .image-container .main-logo {
                max-width: 1200px;
            }

            .register-container .info-text {
                margin: 0;
                text-align: center;
                max-width: 1200px;
            }
        }
    }
}
