@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "./colors.scss";
@import "./variables.scss";

body {
    background: $body-background;
    color: $body-color;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: $mobile-header-padding;
    background: $header-background;
    min-height: calc(100vh - 48px);

    .place, .date {
        text-align: right;
    }

    .content {
        display: grid;
        flex: 1;
        justify-content: center;
        align-content: center;
        grid-template-rows: 50% 1fr;

        .image-container {
            height: 100%;
            display: grid;
            justify-items: center;
            align-items: center;

            .main-logo {
                margin: 32px 0;
                width: 100%;
            }
        }

        .register-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .register-button {
                @include mdc-button-shape-radius(24px);
                @include mdc-button-container-fill-color(#FFFF00);
                
                margin: 0 0 20px 0;
                color: black;
                font-size: 18px;
                height: 42px;
            }

            .info-text {
                margin: 0;
                font-size: 14px;
                line-height: unset;
                text-align: center;
            }

            @media screen and (min-width: 400px) {
                .register-button {
                    font-size: 20px;
                    height: 44px;
                }

                .info-text {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        .date {
            font-size: $mobile-date-font-size;
            line-height: unset;
            margin: 0;
        }

        .place {
            font-size: $mobile-place-font-size;
            line-height: unset;
            margin: 10px 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .place, .date {
        margin: 4px;
    }


    .info-text {
        margin: 0;
        text-align: center;
        width: 1000px;
    }
}