$mobile-header-padding: 24px;
$mobile-footer-padding: 32px;

$mobile-date-font-size: 1rem;
$mobile-place-font-size: 0.75rem;
$mobile-organizer-font-size: 1.5rem;

$tablet-date-font-size: 1.5rem;
$tablet-place-font-size: 1rem;
$tablet-header-padding: 36px;
$tablet-organizer-font-size: 1.75rem;
$tablet-header-bottom-padding: 64px;

$desktop-date-font-size: 2rem;
$desktop-place-font-size: 1.5rem;
$desktop-organizer-font-size: 2rem;
$mobile-speakers-section-padding: 32px;

$mobile-speakers-title-font-size: 2rem;
$mobile-speaker-name-font-size: 1.5rem;
$mobile-speaker-position-font-size: 1rem;